@import url(variable.css);

html,
body,
 p {
  padding: 0;
  margin: 0;
  font-size: 50%;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: var(--body);
}
.header-title {
  display: flex;
  justify-content: center;
  font-size: 8rem;
  margin: auto;
  border: 1rem solid var(--header-border);
  width: 75%;
  text-align: center;
  border-radius: 3rem;
  box-sizing: border-box;
  background-color: var(--item-body);
  box-shadow: 10px 10px 3px var(--header-button-shadow);
}

.theme {
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.main {
  font-size: 5rem;
  padding: 6rem auto;
  margin: 3% auto;
  border: 0.5rem solid var(--header-button-shadow);
  text-align: center;
  border-radius: 2rem;
  box-sizing: border-box;
  background-color: var(--item-body);
  box-shadow: 5px 5px 3px var(--header-button-shadow);
}

.main:hover{
  background-color: var(--header-button-shadow);
  color: var(--item-body-border);
}

.filter{
  align-items: center;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.filter-buttons{
  font-size: 4rem;
  padding: 8rem auto;
  margin: 3% auto;
  border: 0.5rem solid var(--header-button-shadow);
  text-align: center;
  border-radius: 2rem;
  box-sizing: border-box;
  background-color: var(--item-body);
  box-shadow: 5px 5px 3px var(--header-button-shadow);
}

.filter-buttons:hover{
  background-color: var(--header-button-shadow);
  color: var(--item-button-border);
}

.cardcontainer{
  background-color: var(--body);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  columns: 3;
}

