.summer {
    --item-body: orange;
    --item-button-border: black;
    --header-button-shadow: rgb(163, 0, 0);
    --item-shadow: rgb(180, 107, 107);
    --body: rgb(255, 109, 12);
}
.winter {
    --item-body: blue;
    --item-button-border: black;
    --header-button-shadow: rgb(0, 103, 163);
    --item-shadow: rgb(107, 153, 180);
    --body: rgb(56, 214, 219);

}